{% extends 'base.html' %}

{% block head %}
    <title>Авторизация</title>
{% endblock %}
{% block body %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-light" style="border-radius: 1rem; color: #4d3223">
          <div class="card-body p-5 text-center">
            <form method="post">
                <img class="w-25" src="static/logo.svg" alt="Логотип" style="max-width: 200px;min-width: 200px;">
                <div class="mt-md-4">
                  <h2 class="mb-2 text-uppercase">Авторизация</h2>
                    <br>
                  <div data-mdb-input-init class="form-outline form-white mb-4">
                      <input type="text" name="login" id="login" class="form-control form-control-lg" placeholder="Login" />
                  </div>

                  <div data-mdb-input-init class="form-outline form-white mb-4">
                      <input type="password" name="password" id="password" class="form-control form-control-lg" placeholder="Password" />
                  </div>
                    <br>
                  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-secondary btn-lg w-100" id="btnLogin" type="submit">войти</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
    document.getElementById('btnLogin').onclick = myFunction;
    function myFunction() {
        document.getElementById('login').value;
        document.getElementById('password').value;
        document.cookie = "login=" + document.getElementById('login').value + "; expires=Thu, 31 Dec 2038 23:59:59 UTC; path=/"
        document.cookie = "password=" + document.getElementById('password').value + "; expires=Thu, 31 Dec 2038 23:59:59 UTC; path=/"
}
</script>
{% endblock %}